html{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h3{
    background-color: rgb(238, 0, 0);
}
.back-splash{
    background-image: url("/assests/images/pokeball\ background.jpg");
    background-repeat: no-repeat;
    background-size: 1080px;
    width: max-content;
    background-color: black;

}